# App Configuration
APP_PORT=3000
PORT=3000

# Database Configuration
DB_PORT=5432
DATABASE_URL=postgres://user:password@db:5432/secret_santa

# PostgreSQL Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=secret_santa